@import url('https://fonts.googleapis.com/css2?family=Anton&family=Gajraj+One&family=Press+Start+2P&display=swap');

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#cover-page {
    position: absolute;
    z-index: 1;
    height: 100vh;
    background-color: rgb(29, 29, 29);
    color: rgb(255, 241, 50);
    animation: cover-jump 4s ease-in-out infinite 3s;
}

.section-full-cover{
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    height: 100vh;
}
#main-page {
    background-color: rgb(29, 28, 34);
    color: rgb(255, 255, 255);
}

#name {
    position: absolute;
    top: 30vh;
    width: 100%;
    flex-direction: column;
    font-size: 8em;
    font-family: 'Anton', sans-serif;
}

.cover-name-text{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2px;
    line-height: 1em;
}



 .name-letter{
    transition: 0.3s all linear;
}

.name-letter:nth-child(1){
    font-family: 'Press Start 2P', cursive;
}
.name-letter:nth-child(3){
    font-family: 'Press Start 2P', cursive;
}
.name-letter:nth-child(5){
    font-family: 'Press Start 2P', cursive;
}


.name-letter:hover{
    color: rgb(125, 125, 235);
}

#reveal-btn{
    position: relative;
    top: 85%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    font-size: 2em;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 2.5em;
    height: 2.5em;
    background-color: blueviolet;
    border-radius: 50%;
}

#main-box{
    width: em;
    height: 7em;
    border-radius: 50%;
}

@media(max-width:550px) {
    #name {
        font-size: 5em;
        top: 40vh
    }
}

@keyframes cover-go-up{
    0%{
        height: 100vh;
    }
    100%{
        height: 0vh;
    }
}

@keyframes cover-jump{
    0%{
        height: 100vh;
    }
    15%{
        height: 90vh;
    }
    25%{
        height: 100vh;
    }
    100%{
        height: 100vh;
    }
}