@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Shadows+Into+Light&family=Source+Code+Pro&display=swap');

body {
    margin: 0;
    padding: 0;
}

.full-page {
    background-color: #161616;
    width: 100%;
    height: 100vh;
    padding: 1em;
    box-sizing: border-box;
    overflow: hidden;
}

#section-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-box {
    z-index: 2;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#salutation {
    font-family: 'Shadows Into Light', cursive;
    color: white;
    font-size: 3em;
}

#name-box {
    margin-left: 2em;
}

#name {
    background: rgb(105, 254, 53);
    background: linear-gradient(180deg, rgba(105, 254, 53, 1) 26%, rgba(153, 210, 148, 1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

}

#fname,
#lname {
    font-family: 'Fredoka One', cursive;
    font-size: 6em;
}

#filter-layer{
    z-index: 1;
    position: fixed;
    left: 0;
    backdrop-filter: blur(79px);
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
}
.circles {
    position: fixed;
    z-index: 0;
    border-radius: 50%;
    width: 10em;
    height: 10em;
}

#circle-red{
    background: rgb(211,10,10);
    position: fixed;
    top: 0px;
    left: 0px;
}

#circle-green{
    background-color: rgb(17, 238, 17);
    bottom: 2em;
    left: 5em;
}

#circle-pink{
    background-color: rgb(238, 17, 238);
    top: 40vh;
    left: 40%;
}

#circle-blue{
    background-color: rgb(17, 138, 238);
    top: 80vh;
    left: 60%;
}

#circle-purple{
    background-color: rgb(99, 16, 194);
    top: 20vh;
    right: -2%;
}

@media(max-width:950px){
    .content-box{
        flex-direction: column;
        align-items: center;
    }

    #fname,#lname{
        font-size: 4em;
    } 

}