#socials-bar{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    margin-top: 70px;
}

i{
    font-size: 30px;
    margin-right: 1em;
    color: #858585;
    transition: color 0.3s ease-in-out;
}



i:hover{
    color: #d4d4d4;
    cursor: pointer;
}