#socials-bar{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    margin-top: 60px;
}

i{
    font-size: 40px;
    margin-right: 1.5em;
    color: #858585;
}

i:hover{
    color: #d4d4d4;
    cursor: pointer;
}